
.welcome{
    border: 1px solid green;
    width: 1340px;
    height: 70px;
    background-color: rgb(155, 179, 72);
    opacity: 80%;   
    position: relative;
    top: 5px;
}
.marquee{
    position: absolute;
    white-space: nowrap;
    -webkit-animation: rightThenLeft 100s linear;
    color: rgb(252, 252, 252);
    

}

@-webkit-keyframes rightThenLeft {
    0%   {left: 0%;}
    50%  {left: 100%;}
    100% {left: 0%;}
}

#menudiv{
    background-color: rgb(155, 179, 72);

    border: 5px solid rgb(242, 255, 233);
    height: 50px;
    align-items: center;
    background-image: url(../img/lune2.jpg);
}
.menusimple{
    list-style: none;
    list-style-position: initial;
    list-style-image: initial;
    display: flex;
    justify-content: space-around;   
    text-decoration:none    00 ;
}

form {

    margin: 0 auto;
    width: 400px;
    
    padding: 1em;
    border: 1px solid rgba(43, 75, 7, 0.445);
    border-radius: 1em;
  }
  
  form div + div {
    margin-top: 1em;
  }
  
  label {
  
    display: inline-block;
    width: 90px;
    text-align: right;
  }
  
  input, textarea {

    font: 1em sans-serif;
  
    width: 300px;
    box-sizing: border-box;
  
    border: 1px solid #999;
  }
  
  input:focus, textarea:focus {

    border-color: #000;
  }
  
  textarea {
 
    vertical-align: top;
  

    height: 5em;
  }
  
  .button {
    padding-left: 90px; 
  }
  
  button {

    margin-left: .5em;
  }

  h1, p {
    margin: 20px;
    color: #666;
    line-height: 1.75em;
  }
  
.navhoriontal {
background-color: #fff;
overflow: hidden;
height: 3em;
width: 100%;


    
    
    .list {
      display: inline-table;
      margin: 0 auto;
      max-width: 100%;
      

  

 reset
  *{box-sizing: border-box;}
  body{font-family:sans-serif;padding-top: 100px;width:100vw;background-color:#999;}

  li{ display:table-cell;
}

a {
  display: block;
  padding: 0 1em;
  text-decoration: none;
  color: #333;
  height: 3em;
  line-height: 3; 
  
  &:hover {
    border-bottom: 2px solid black;
    background-color: #f9f9f9;
  }
}
}
}

.mask{
    height: 5em;
width: 100%;
overflow-x: auto;
-webkit-overflow-scrolling: touch;
}